@charset "utf-8";
#headerbg {
	width:1000px;
	height:300px;
	background-image:url(../images/template_01.jpg);
	margin:0px auto;
	padding:0px 0px;
	border:0px solid #000000;
	text-align:left;
	background-color:#FFFFFF;
}
#header {
	height:300px;
	padding:0px 0px;
	margin:0px auto;
	background-image:url(../images/template_02.jpg);
	clear:both;
}
#contentbg {
	width:700px;
	/*height:300px;*/
	background-image:url(../images/template_03.jpg);
	margin:0px auto;
	padding:1px 150px;
	border:0px solid #000000;
	text-align:left;
	background-color:#FFFFFF;
}
#content {
	/*height:300px;*/
	padding:0px 0px;
	margin:0px auto;
	background-image:url(../images/template_04.jpg);
	clear:both;
}
#footerbg {
	width:1000px;
	height:170px;
	background-image:url(../images/template_05.jpg);
	margin:0px auto;
	padding:0px 0px;
	border:0px solid #000000;
	text-align:left;
	background-color:#FFFFFF;
}
#footer {
	height:170px;
	padding:0px 0px;
	margin:0px auto;
	background-image:url(../images/template_06.jpg);
	clear:both;
}
body {
	font:100% Georgia, Verdana, Arial, Helvetica, sans-serif;
	background:#000;
	/*background-image:url(../images/bg.gif);
	background-repeat:repeat-x;*/
	margin:0px;
	padding:0px;
	color:#333;
	font-size:13pt;
	line-height:1.5;
}
h1, h2, h3 {
	color:#000;
	text-align:center;
	text-transform:capitalize;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	line-height:1.2;
	text-shadow:#CCC 1px 1px 3px;
}
h1.prehead {
	font-size:smaller;
	font-style:italic;
	text-align:left;
}
h1 {
	margin:0;
	font-size:30pt;
}
h2 {
	font-size:20pt;
}
h3 {
	color:#333;
	width:80%;
}
a {
	color:#C00;
}
a:hover {
	color:#F00;
}
/*ul {
	list-style-image:url(../images/tick_medium.png);
	list-style-position:inside;
}*/
img {
	border:0px;
}
.large {
	font-size:large;
	font-weight:bold;
	line-height:1;
}
.larger {
	font-size:larger;
	font-weight:bold;
	line-height:1;
}
.x-large {
	font-size:x-large;
	font-weight:bold;
	line-height:1;
}
.xx-large {
	font-size:xx-large;
	font-weight:bold;
	line-height:1;
}
.small {
	font-size:small;
}
.smaller {
	font-size:smaller;
}
.x-small {
	font-size:x-small;
}
.xx-small {
	font-size:xx-small;
}
.red {
	color:#990000;
}
.highlight {
	background-color:#FFFFCC;
}
.disclaimer {
	font-family:Verdana, Arial;
	font-size:7pt;
	color:#CCC;
	line-height:1.3;
	text-align:justify;
	padding:20px;
}
.footer {
	font-family:Verdana, Arial;
	font-size:8pt;
	color:#CCC;
	line-height:1.3;
	text-align:center;
}


#videodescription {
	/*font-family: "Courier New";*/
	/*width:300px;*/
	left:200px;
	font-size:11pt;
	padding:10px;
	position:relative;
	width: 300px;
	height: 100%;
	line-height:1.7;
}
#videotitle {
	line-height:1.2;
	text-align:center;
	color:#C00;
	/*background-color:#FFFFEE;*/
	font-size:16pt;
	font-weight:bold;
	text-transform:capitalize;
	width:75%;
	margin:0px auto;
}
#videobox {
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:20px;
	width:75%;
	height:100%;
	padding:10px;
	border:1px dashed #CCC;
}
#videoheader {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/component_01.png);
}
#videocontent {
	margin:0px auto;
	width:560px;
	padding:1px 70px 10px 70px; /* top right bottom left*/
	background-image:url(../images/component_02.png);
	font-size:smaller;
}
#videofooter {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/component_03.png);
}
#bonusheader {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/bonus_01.png);
}
#bonuscontent {
	margin:0px auto;
	width:560px;
	padding:1px 70px 10px 70px; /* top right bottom left*/
	background-image:url(../images/bonus_02.png);
	font-size:smaller;
}
#bonusfooter {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/bonus_03.png);
}
#testimonialheader {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/testimonial_01.png);
}
#testimonialcontent {
	margin:0px auto;
	padding:1px 70px 50px 70px;
	width:560px;
	background-image:url(../images/testimonial_02.png);
	color:#FFF;
	font-size:smaller;
}
.testimonialtitle {
	color:#FFF;
	font-size:x-large;
	text-shadow:none;
}
#testimonialfooter {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/testimonial_03.png);
}
#guaranteeheader {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/guarantee_01.png);
}
#guaranteecontent {
	margin:0px auto;
	padding:1px 70px 10px 70px;
	background-image:url(../images/guarantee_02.png);
	width:560px;
}
#guaranteefooter {
	margin:0px auto;
	height:50px;
	width:700px;
	background-image:url(../images/guarantee_03.png);
}
#orderform {
	margin:0px auto;
	width:450px;
	padding:20px;
	border:3px dashed #333;
	background-color:#FFF;
	font-size:smaller;
}
